<nav class="admin_nav">
  <div class="logo">
    BLACK LIT FUNCTION
  </div>
  <div class="links">
    <%= link_to 'episodes', admin_episodes_path %>   <%= link_to 'pages', admins_path %>   <%= link_to 'admins', admins_path %>
  </div>
  <div class="current_admin">
    <i>Logged in: </i><b><%= @current_admin["email"] %></b><br>
    <%= link_to 'Log out', session_path, :method => :delete %>
  </div>
</nav>
<div class="nav-buffer"></div>
