<%= render "admins/admin_nav" %>
<div class="page_content">
  <h1> Admins </h1>
  <%= link_to 'create admin', new_admin_path %>
  <% @admins.each do |admin| %>
    <div class="<%="admin#{admin.id == @current_admin['id'] ? "self" : ""}"%>">
      <div class="email_holder">
        <%= admin.email %>
      </div>
        <% unless admin.id == @current_admin['id'] %>
        <div class="delete_holder">
          <%= link_to 'X', admin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_admin' %><br>
</div>
        <% end %>

    </div>
  <% end %>
</div>
