<%= render "admins/admin_nav" %>
<div class="page_content">
  <%= form_for @admin, :html => {:class => 'admin_input'} do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "Email" %><br>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Password" %><br>
  <%= f.submit :Create, value: "Create Admin" %>
  <% end %>
</div>
