<div class="portal_panel">
  <%= image_tag("/portal_logo.png") %>
  <div class="login_interface">
    <%= form_tag("/session", method: "post") do %>
      <%= text_field_tag(:email, nil, placeholder: 'email') %>
      <%= password_field_tag(:password, nil, placeholder: 'password') %><br><br>
      <%= submit_tag("Log in") %>
    <% end %>
  </div>
</div>
