<%= form_with(model: episode, url: @episode[:id] ? admin_episode_path(@episode) : admin_episodes_path, local: true) do |form| %>
  <% if episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% episode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :episode_name, "Episode Name" %>
  <%= form.text_field :episode_name %>
  <%= form.label :description, "Episode Description" %>
  <%= form.text_area :description %>
  <%= form.label :spotify_link, "Spotify Link" %>
  <%= form.text_field :spotify_link %>
  <%= form.label :soundcloud_link, "Soundcloud Link" %>
  <%= form.text_field :soundcloud_link %>
  <%= form.label :itunes_link, "Itunes Link" %>
  <%= form.text_field :itunes_link %>
  <%= form.label :episode_image, "Episode Image" %>
  <%= form.file_field :episode_image %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
