<%= render "admins/admin_nav" %>
<p id="notice"><%= notice %></p>
<div class="page_content">
  <div class="new_episode_link">
    <%= link_to 'new', new_admin_episode_path%>
  </div>
  <br>
  <% @episodes.each do |episode| %>
    <div class="index_episode">
      <div class="image_holder">
        <% if episode.episode_image.attached? %>
        <%= image_tag(episode.episode_image) %>
        <% end %>
      </div>
      <div class="information">
        <div class="name">
        <%= episode.episode_name %>
        </div>
        <div class="description">
          <%= episode.description %>
        </div>
      </div>
      <div class="links">
        <%= image_tag("/icon-spotify.png") %>
        <%= image_tag("/icon-itunes.png") %>
        <%= image_tag("/icon-soundcloud.png") %>
      </div>
      <div class="management_panel">
        <div class="edit">
          <%= link_to 'Edit', edit_admin_episode_path(episode) %>
        </div>
        <div class="delete">
          <%= link_to 'Delete', admin_episode_path(episode), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<br>
