<%= render "admins/admin_nav" %>
<p id="notice"><%= notice %></p>
<div class="page_content">
  <h1>Episodes</h1>
  <%= link_to 'new', new_admin_episode_path %>
  <br>
  <% @episodes.each do |episode| %>
    <div class="index_episode">
      <div class="image_holder">
        <% if episode.episode_image.attached? %>
        <%= image_tag(episode.episode_image) %>
        <% end %>
      </div>
      <div class="information">
        <div class="name">
        <%= episode.episode_name %>
        </div>
        <div class="description">
          <%= episode.description %>
        </div>
      </div>
      <div class="links">
        icons
      </div>
      <div class="management_panel">
        <%= link_to 'Edit', edit_admin_episode_path(episode) %>
        <br>
        <%= link_to 'Delete', admin_episode_path(episode), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>


<br>
